.anchor{
    font-size: larger;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
button{
    width: 200px;
    height: 100px;
    color: white;
    background-color: rgb(231, 83, 33);
    border: 2px solid black;
    border-radius: 40px;
}
button:hover{
    background-color: brown;

}
p{
    font-family: 'Edu VIC WA NT Beginner', cursive ;
}

.first{
    width: 200px;
    height: 200px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 80%;
}
.sec{
    background-color: coral;
    width: 150px;
    height: 200px;

}

.third{
    width: 500px;
    height: 500px;
    background-color: green;
    animation-name: hello;
    animation-duration: 8s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

@keyframes hello{
    0%{
        background-color: goldenrod;
    }
    25%{
        background-color: plum;
    }
    50%{
        background-color: purple;
    }
    75%{
        background-color: greenyellow;
    }
}
@media(min-width:700px) and (max-width:1000px){
.two{
    background-color: wheat;
    width: 300px;
    height: 350px;
}
}